@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
}
a{
  text-decoration: none;
  color: #000;
}
a,h1,h2,h3,h4,p{
  margin: 0px;
  padding: 0px;
  font-family: 'Lobster', cursive;
}

/* Nav */
nav {
  top: 0;
  width: 100vw;
  height: 10vh;
  background: #fbe0dc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
}
nav .logoContainer {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
nav .logoContainer p {
  font-size: 26px;
  cursor: pointer;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 60px;
}
nav .menu ul {
  display: flex;
  align-items: center;
}
nav .menu ul li {
  margin-left: 20px;
  list-style: none;
}
nav .menu ul li a{
  display: block;
  text-transform: capitalize;
  color: #000;
}
nav .menu ul li a:hover{
  color: #fff;
}
nav .menu .menuBotao {
  width: 45px;
  height: 45px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
nav .menu .menuBotao .menuIcon .bar:last-child {
  width: 15px;
}
nav .menu .menuBotao.closeMenu .menuIcon .bar {
  width: 25px;
}
nav .menu .menuBotao.closeMenu .menuIcon .bar:first-child {
  transform: translateY(7px) rotate(45deg);
}
nav .menu .menuBotao.closeMenu .menuIcon .bar:nth-child(2) {
  transform: scale(0);
}
nav .menu .menuBotao.closeMenu .menuIcon .bar:last-child {
  transform: translateY(-7px) rotate(-45deg);
}
nav .menu .menuBotao .menuIcon .bar {
  width: 25px;
  height: 2px;
  background: #fbe0dc;
  transition: 0.3s ease-in-out;
}
nav .menu .menuBotao .menuIcon .bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}

/*Header*/
header {
  text-align: center;
  background-color: #fbe0dc;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  margin-top: 10vh;
}
header .headerTitle{
  width: 100%;
  height: 100%;
  flex-direction: column;
}
header .headerTitle h1{
  font-size: 58px;
}
header .headerTitle p{
  margin-top: 15px;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
}
header img {
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 1;
}
header .headerImg1 {
  top: 10vh;
  left: 0;
  transform: rotate(90deg);
}
header .headerImg2 {
  top: 10vh;
  right: 0;
  transform: rotate(180deg);
}
header .headerImg3 {
  bottom: 0vh;
  left: 0;
  transform: rotate(0deg);
}
header .headerImg4 {
  bottom: 0vh;
  right: 0;
  transform: rotate(270deg);
}

/* Sobre */
#sobre {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "logo descricao";
  align-items: center;
}
#sobre .logo {
  grid-area: logo;
  width: 50%;
  height: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px -10px #000000;
  justify-self: end;
  z-index: 1;
  overflow: hidden;
}
#sobre .logo img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
#sobre .descricao {
  grid-area: descricao;
  width: 70%;
  height: 50%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px -10px #000000;
  justify-self: start;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
}
#sobre .descricao p:nth-child(1){
  margin-bottom: 40px;
}
#sobre .descricao p:nth-child(2){
  margin-bottom: 20px;
}
#sobre .descricao p{
  font-family: 'Pacifico', cursive;
}
/* Receitas*/

.flexboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.displayNone {
  display: none;
}
.displayPaginacaoNone {
  display: none;
}
#receitas {
  padding: 20px;
  width: 100%;
  height: auto;
  flex-direction: column;
}
#receitas .title {
  width: 100%;
  height: 10vh;
}
#receitas .title p{
  font-size: 24px;
}
#receitas .title .line {
  width: 122px;
  height: 0px;
  border-radius: 40px;
  border: 2px solid #000000;
}
#receitas .title .text {
  margin: 0 40px 0 40px;
  font-size: 18px;
}
#receitas ul {
  display: flex;
  margin-bottom: 35px;
}
#receitas ul li {
  list-style: none;
  background: #ffffff;
  width: 100px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: all 0.5s ease;
}
#receitas ul li.active {
  background: #fbe0dc;
  color: #000000;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.25);
}
#receitas .product {
  flex-wrap: wrap;
}
#receitas .product .itemBox {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0px 50px 35px 50px;
  border-radius: 20px;
  transition: all 1.3s ease;
  overflow: hidden;
  background: #fbe0dc;
  cursor: pointer;
}
#receitas .product .itemBox:hover img {
  opacity: 0.3;
}
#receitas .product .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1.3s ease;
}
#paginacao {
  width: 100%;
  height: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
#paginacao .container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
#paginacao .container .button {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 20px;
  background: #fbe0dc;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease width;
}
#paginacao .container .button:last-child {
  margin-right: 0;
}
#paginacao .container .button.active {
  width: 60px;
  cursor: auto;
}

/* Modal*/
#modalContainer {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
}
.modal {
  display: block;
  position: relative;
  width: 30vw;
  height: 50vh;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 0 40px -5px #000000;
  top: 30vh;
  left: 35vw;
  z-index: 999;
  overflow: hidden;
  transition: all 1s ease;
}
.modal .modalHeader {
  width: 100%;
  height: 15%;
  background: #fbe0dc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal .modalHeader .close {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
}
.close:hover::before,
.close:hover::after {
  background: #fff;
}
.close::before,
.close::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  height: 7px;
  margin-top: -4px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #000;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
.modal .modalConteudo {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "imgModal texto";
  align-items: center;
  justify-items: center;
}
.modal .modalConteudo .imgModal {
  grid-area: imgModal;
  background: #c4c4c4;
  width: 80%;
  height: 60%;
  border-radius: 10%;
  overflow: hidden;
}
.modal .modalConteudo .imgModal img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal .modalConteudo .texto {
  grid-area: texto;
  justify-self: start;
  overflow: hidden;
}
.displayBlock {
  display: block;
}

@media only screen and (max-width: 1030px) {
  #sobre {
    height: 70vh;
  }
  #sobre .logo {
    width: 70%;
    height: 30%;
  }
  #sobre .descricao{
    width: 90%;
    height: 40%;
  }
  #sobre .descricao p{
    font-size: 18px;
  }
  #receitas .title .text {
    font-size: 24px;
  }
  #receitas .title .line {
    width: 150px;
  }
  #receitas ul li {
    width: 108px;
    height: 79px;
    font-size: 20px;
  }
  #modalContainer .modal {
    top: 25vh;
    left: 20vw;
    width: 60vw;
    height: 50vh;
    box-shadow: 0 0 20px -5px #000000;
  }
}
@media screen and (max-width: 767px) {
  nav .menu {
    padding-right: 40px;
  }
  nav .menu .menuBotao {
    display: flex;
  }
  nav .menu ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #fff;
    position: absolute;
    top: 64px;
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  nav .menu ul.showMenu {
    height: 280px;
    left: 0;
  }
  nav .menu ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }
  nav .menu ul li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s;
  }
  nav .menu ul li:first-child,
  nav .menu ul li:nth-child(2) {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 480px) {
  nav .menu .menuBotao {
    display: flex;
  }
  header img {
    width: 20%;
  }
  header .headerTitle h1{
    font-size: 38px;
  }
  header .headerTitle p{
    font-size: 14px;
  }
  #sobre {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    grid-template-areas:
    "logo "
    "descricao";
  }
  #sobre .logo {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: flex-end;
  }
  #sobre .descricao{
    width: 80%;
    height: 70%;
    justify-self: center;
    align-self: flex-start;
  }
  #sobre .descricao p:nth-child(1){
    margin-bottom: 20px;
  }
  #sobre .descricao p{
    font-size: 12px;
  }
  #receitas .title .text {
    font-size: 16px;
  }
  #receitas .title .line {
    width: 80px;
  }
  #receitas ul li {
    width: 68px;
    height: 39px;
    font-size: 12px;
  }
  #receitas .product .itemBox {
    width: 250px;
    height: 250px;
  }
  #modalContainer .modal {
    top: 30vh;
    left: 5vw;
    width: 90vw;
    height: 40vh;
    box-shadow: 0 0 20px -5px #000000;
  }
}
@media only screen and (max-width: 330px) {
  #receitas ul li {
    width: 55px;
    height: 39px;
    font-size: 10px;
  }
  #receitas .product .itemBox {
    width: 200px;
    height: 200px;
  }
}